page-archive-detail {
    .select-md {
        padding: 13px 8px 13px 8px;
    }
    
    .report {
        font-size: 1.4rem;
        
        textarea {
            height: 200px;
        }
    }
     
}
