page-top-header {
    .identification {
        position: relative;
        top: -10px;
        margin-right: 8px;
    }
    
    .user-img {
        position: relative !important;
    }
    
    .user-icon {
        position: relative !important;
    }
    
    .logo-img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }
}
